<head>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

</head>
<h1>{{title}}</h1>

<nav>
  <ul>
    <li><a routerLink="">Login</a></li>
    <li><a routerLink="">Register</a></li>
  </ul>
</nav>


<!-- SIGN UP MODAL -->
<div id="modal-signup" class="modal">
  <div class="modal-content">
    <h4>Sign up</h4><br />
    <form id="signup-form">
      <div class="input-field">
        <input type="email" id="signup-email" required />
        <label for="signup-email">Email address</label>
      </div>
      <div class="input-field">
        <input type="password" id="signup-password" required />
        <label for="signup-password">Choose password</label>
      </div>
        <!--Adding feilds to Signup model-->
        <div class="input-field">
          <input type="text" id="signup-bio" required />
          <label for="signup-bio">One Line Bio</label>
        </div>
      <button class="btn yellow darken-2 z-depth-0">Sign up</button>
        <!-- Displaying errors on model-->
     <p class="error pink-text center-align"></p>
    </form>
  </div>
</div>
